body {
    min-height: 100%;
    min-width: 99%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.938);
    color: white;
    position: absolute;
    font-family: 'Oswald', sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    padding: 1rem;
}

h1 {
    font-size: 3rem;
    margin: 0;
    text-align: center;
}

.playerNames {
    min-width: 27%;
    text-align: left;
    border: 2px solid #4036c5;
    border-radius: 5px;
    padding: 1rem;
    font-size: 1.8rem;
    background-color: #bbbbbb;
    color: black;
    box-shadow: -3px 5px 10px #ffffff7a;
}

#playerX-name {
    text-align: left;
}

#playerO-name {
    box-shadow: 3px 5px 10px #ffffff7a;
    text-align: right;
}

main {
    width: 82vw;
    height: 75vh;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 4px 4px; 
    grid-template-areas: 
    "A B C"
    "D E F"
    "G H I"; 
}

.cell {
    padding: 0;
    margin: 0.5rem;
    background-color: #2f3a3a;
    background-image: linear-gradient(150deg, #2f3a3a 0%, #9599E2 50%);
    backdrop-filter: blur(20px);
    border: 1px solid white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    color: black;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.418);
    font-weight: bold;
}

#A {
    grid-area: A;
}
#B {
    grid-area: B;
}
#C {
    grid-area: C;
}
#D {
    grid-area: D;
}
#E {
    grid-area: E;
}
#F {
    grid-area: F;
}
#G {
    grid-area: G;
}
#H {
    grid-area: H;
}
#I {
    grid-area: I;
}

#name-submit {
    position: absolute;
    top: 40%;
    width: 50%;
    z-index: 3;
    font-size: 2rem;
    padding: 1rem;
    border: 2px double white;
    border-radius: 10px;
}

.namePopup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    color: white;
}

label {
    margin-bottom: 1rem;
}

#player1-name {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

#ready {
    width: 25%;
    background-color: gray;
    color: black;
    border-radius: 25px;
}

#ready:hover {
    background-color: hsl(0, 0%, 20%);
    color: white;
}

#new-game {
    visibility: hidden;
    font-size: 1.1rem;
    margin-left: -10%;  
}

#new-game:hover {
    background-color: hsl(0, 0%, 20%);
    color: hsl(230, 100%, 80%);
}

#exit-game {
    font-size: 1.1rem;
    margin-left: 10%;
}

#exit-game:hover {
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 100%, 30%);
}

.menu {
    margin-bottom: 2%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#player1-name {
    width: 50%;
    text-align: center;
}

@media screen and (max-width: 750px) {
    #playerX-name {
        font-size: 1.2rem;
    }
    #playerO-name {
        font-size: 1.2rem;
    }
    h1 {
        font-size: 2rem;
    }
}