body {
    background-color: black;
    color: white;
    font-family: 'Oswald', sans-serif;
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

a {
    text-decoration: none;
    padding: 2rem;
    border: 4px double white;
    border-radius: 25px;
    background-color: white;
    color: black;
    width: 25%;
    text-align: center;
    margin-bottom: 10%;
    font-size: 1.5rem;
}

a:hover {
    background-color: black;
    color: white;
}

a:visited {
    text-decoration: none;
}

h1 {
    font-size: 5rem;
}