body {
    min-height: 100%;
    min-width: 99%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
}

main {
    width: 70vw;
    height: 75vh;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 4px 4px; 
    grid-template-areas: 
    "A B C"
    "D E F"
    "G H I"; 
}

h1 {
    margin-bottom: 2rem;
}

div {
    padding: 0;
    margin: 0;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}

#A {
    grid-area: A;
}
#B {
    grid-area: B;
}
#C {
    grid-area: C;
}
#D {
    grid-area: D;
}
#E {
    grid-area: E;
}
#F {
    grid-area: F;
}
#G {
    grid-area: G;
}
#H {
    grid-area: H;
}
#I {
    grid-area: I;
}

#name-submit {
    position: absolute;
    top: 40%;
    width: 50%;
    background-color: white;
    z-index: 3;
    font-size: 2rem;
    padding: 1rem;
    /* display none is default, toggle visible on game start */
    /* display: none;  */
}

#player1-name {
    margin-bottom: 1rem;
}
