main {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "A B C"
    "D E F"
    "G H I"; 
}

div {
    padding: 3rem;
    border: 1px solid black;
    min-height: 120px;
    min-width: 120px;
}

#A, #B, #C {
    background-color: red;
}

#D, #E, #F {
    background-color: blue;
}

#G, #H, #I {
    background-color: green;
}

#A {
    grid-area: A;
}
#B {
    grid-area: B;
}
#C {
    grid-area: C;
}
#D {
    grid-area: D;
}
#E {
    grid-area: E;
}
#F {
    grid-area: F;
}
#G {
    grid-area: G;
}
#H {
    grid-area: H;
}
#I {
    grid-area: I;
}